APP_NAME=GPS Backend EC
API_WRITE_KEY=cambia_esto_por_clave_segura
ADMIN_PASSWORD=cambia_esto_por_password_admin
DB_FILE=data.db
CORS_ORIGINS=https://gpscontrolec.com,https://www.gpscontrolec.com,http://localhost:3000
